 {% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
   {% block stylesheets %} <link rel="stylesheet" href="{{ asset('script/style2.css')}}">{% endblock %}  

{% block body %}
      <div><img src="{{ asset('img/logoajout.png')}}" class="logoajout"></div>
              <ul class="menu">
                 <li><a href={{path('index')}}>Accueil</a></li>
                 <li><a href={{path('accueil_liste')}}>Liste clients</a></li>
                 <li><a href={{path ('accueilajout')}}>Ajouter client</a></li>
                 <li><a href="#Virement">Virement</a></li>
                 <li><a href="#Assistance">Assistance</a></li>
              </ul>
       
            <div class="infosagent">
               <strong> Informations agent</strong> 
               <br><br>              
                <strong>Prenom</strong>: Tidjane
                <br><br>
                Nom : THIAM
                <br><br>
              <strong> Profil</strong> : Responsable de compte
                <br><br>
              <strong>ID_agent</strong>: RC283674
                <br><br>
               <strong>Agence </strong>: Petit Mbao
            </div>
            <div >
                <img src="{{ asset('img/Tidjane.png')}}" class="imgagent">
            </div>
{% endblock %}