{% extends 'base.html.twig' %}

{% block title %}Accueil Liste{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('script/style2.css')}}">{% endblock %}  

{% block body %}
    <div>
      <img src="{{ asset('img/logoajout.png')}}" class="logoajout">
    </div>
              <ul class="menu">
                 <li><a href={{path('index')}}>Accueil</a></li>
                 <li><a href={{path('accueil_liste')}}>Liste clients</a></li>
{#               <li><a href={{path('liste')}}>Liste clients</a></li>
 #}              <li><a href={{path('accueilajout')}}>Ajouter client</a></li>
                 <li><a href="#Virement">Virement</a></li>
                 <li><a href="#Assistance">Assistance</a></li>
              </ul>
      <h2 class="choicl">Choisissez la liste à consulter</h2>

      <ul class="choix">

                  <li><a href={{path ('liste_entreprise')}}  class="a1">Liste Entreprises </a></li>&nbsp&nbsp
                   <li><a href= {{path ('liste_personne')}}  class="a3">Liste C.physique </a></li>
      </ul>



{% endblock %}
